body {
	background-color: #1f1f33;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}

@font-face {
	font-family: title-font;
	src: url(/fonts/aAutoSignature.ttf);
}

/* HOME SECTION */

#home {
	height: 100vh;
	color: #ebcbca;
	text-align: center;
	font-family: "Cormorant Garamond", serif;
	position: relative;
}

.title-text {
	padding-top: 17%;
	background: url(/images/home-img.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	margin: 0;
	font-family: title-font;
	font-size: 6rem;
}

.subtitle {
	font-size: 1.75rem;
}

/* NAVBAR */

nav {
	background-color: #ebcbca;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline;
	text-decoration: none;
	color: #1f1f33;
	font-size: 18px;
}
