body {
	background-color: #dededc;
	color: #1f1f33;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

.dark-background {
	background-color: #1f1f33;
	color: #dededc;
}

@font-face {
	font-family: aAutoSignature;
	src: url(/fonts/aAutoSignature.ttf);
}

/* HOME SECTION */

#home {
	font-family: "Cormorant Infant", serif;
	height: 100vh;
	text-align: center;
	position: relative;
}

.background-img {
	background: url(/images/brick-wall.jpg) no-repeat left bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title-text {
	padding-top: 16%;
	padding-bottom: 14%;
}

.title {
	margin: 0;
	font-family: "Cormorant Infant", serif;
	font-size: 6rem;
}

.subtitle {
	font-size: 2.5rem;
}

/* NAVBAR FOR DESKTOP */

nav {
	background-color: #1f1f33;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1% 0 0.65% 0;
}

.left-links,
.center-link,
.right-links {
	display: inline;
}

.link {
	text-decoration: none;
	color: #dededc;
	font-size: 22px;
	padding: 0% 7%;
}

.nav-title {
	font-family: aAutoSignature;
	font-size: 2.5rem;
}

.content {
	padding-top: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

/* NAVBAR AND MENU FOR MOBILE */

/* nav {
	overflow: hidden;
	background-color: #1f1f33;
	color: #dededc;
	position: relative;
}

nav .title-text {
	font-size: 1.25rem;
	margin-left: 5%;
}

nav .menu-links {
	display: none;
}

nav a {
	color: #dededc;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

nav a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* PROJECTS SECTION */

#projects {
	margin-top: 50px;
	background-color: #1f1f33;
	color: #dededc;
}

#projects img {
	width: 300px;
	height: 300px;
}

/* SKILLS SECTION */

/* CONTACT SECTION */

/* FOOTER SECTION */
